<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402410368988-fga33ase6f0upj0caa61vkvgqvfovqo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402410368988-fga33ase6f0upj0caa61vkvgqvfovqo9</string>
	<key>API_KEY</key>
	<string>AIzaSyCBRLz0GxSSwGCmxH-RD0xuWu_mZ50xFWA</string>
	<key>GCM_SENDER_ID</key>
	<string>402410368988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewfinfin</string>
	<key>PROJECT_ID</key>
	<string>brewfin-1b8ce</string>
	<key>STORAGE_BUCKET</key>
	<string>brewfin-1b8ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402410368988:ios:9416396254418f70e72919</string>
</dict>
</plist>